*.swp
/.dapper
/.idea
/.trash-cache
/.vagrant
/*.log
/bin
/build
/data-dir
/dist
/image/root
/image/agent
/image/go_build_agent
/image/main.squashfs
/package/rio
__pycache__
/tests/.pytest_cache/
/tests/.tox/
/tests/.vscode

