*.swp
/.dapper
/.tags
/.idea
/.trash-cache
.vagrant/
/.kube
/.cache
/.docker
/.*_history
/.viminfo
/.lesshst
/*.log
/bin
/etc
/build
/data-dir
/dist
/image/root
/image/agent
/image/go_build_agent
/image/main.squashfs
/package/k3s
/package/data-*
/pkg/deploy/embed/
/pkg/static/embed/
/pkg/data/embed/
__pycache__
/tests/.pytest_cache/
/tests/.tox/
/tests/.vscode
/tests/**/*log.txt
/tests/**/vagrant.log
/sonobuoy-output
*.tmp
config/local.tfvars
*.terraform
*.tfstate
.terraform.lock.hcl
