name: E2E Test Coverage
on: 
  push:
    paths-ignore:
      - "**.md"
      - "channel.yaml"
      - "install.sh"
      - "tests/**"
      - "!tests/e2e**"
      - ".github/**"
      - "!.github/workflows/e2e.yaml"
  pull_request:
    paths-ignore:
      - "**.md"
      - "channel.yaml"
      - "install.sh"
      - "tests/**"
      - "!tests/e2e**"
      - ".github/**"
      - "!.github/workflows/e2e.yaml"
  workflow_dispatch: {}
jobs:
  # we split the build into a separate job to make testing reruns faster
  # if build passes, later runs will skip this job and reuse the artifacts
  build:
    uses: ./.github/workflows/build-k3s.yaml
    with:
      upload-repo: true
  test:
    name: E2E Tests
    needs: build
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    concurrency: e2e_runner_limit
    steps:
    - name: Download K3s repo
      uses: actions/download-artifact@v3
      with:
        name: k3s-repo.tar.gz
        path: ./
    - run: |
        tar -xzvf k3s-repo.tar.gz .
        rm k3s-repo.tar.gz

    - name: Connect to Fremont VPN
      uses: aduriseti/ovpn3-connect-action@v1
      with:
        ovpn-config:  ${{ secrets.OVPN_CONFIG }}
        vpn-user:     ${{ secrets.OVPN_USER }}
        vpn-pass:     ${{ secrets.OVPN_PASS }}

    - name: Transfer K3s to E2E runner
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.PR_RUNNER_IP }}
        username: ${{ secrets.PR_RUNNER_USER }}
        key: ${{ secrets.PR_RUNNER_PERM }}
        source: "./*"
        target: "k3s-${{ github.sha }}"
    
    - name: Prepare E2E tests
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.PR_RUNNER_IP }}
        username: ${{ secrets.PR_RUNNER_USER }}
        key: ${{ secrets.PR_RUNNER_PERM }}
        script_stop: true
        script: |
          export PATH=$PATH:/usr/local/go/bin
          cd k3s-${{ github.sha }}
          go mod tidy && go mod download

    - name: Run E2E tests
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.PR_RUNNER_IP }}
        username: ${{ secrets.PR_RUNNER_USER }}
        key: ${{ secrets.PR_RUNNER_PERM }}
        script_stop: true
        command_timeout: 60m
        script: |
          export PATH=$PATH:/usr/local/go/bin
          cd k3s-${{ github.sha }}/tests/e2e
          echo 'RUNNING CLUSTER VALIDATION TEST'
          E2E_REGISTRY=true go test -v -timeout=45m validatecluster/validatecluster_test.go -local -ci
          cd ~
          rm -rf k3s-${{ github.sha }}
    
    - name: Save logs on failure
      if: failure()
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.PR_RUNNER_IP }}
        username: ${{ secrets.PR_RUNNER_USER }}
        key: ${{ secrets.PR_RUNNER_PERM }}
        script: |
          mkdir -p failed_logs/${{ github.sha }}
          find ./k3s-${{ github.sha }}/tests/e2e -name \*.log -exec cp {} failed_logs/${{ github.sha }} \;
          rm -rf ./k3s-${{ github.sha }}

    - name: Kill VPN Connection
      if: always()
      run: |
        sudo pkill openvpn  
 